# ======================
# Python / Backend
# ======================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Env files
.env
.env.*

# ======================
# Node / Frontend
# ======================
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/
frontend/.vercel

# Debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnp.*
frontend/.DS_Store
frontend/package-lock.json

# ======================
# OS / Misc
# ======================
.DS_Store
Thumbs.db

# ======================
# IDEs
# ======================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
